* {
	margin: 0px;
	padding: 0px;
}
.text-guess {
  padding: 10px;
  font-size: 30px;
  background-color: red;
  color: white;
}
.buttom {
  padding: 10px;
  font-size: 30px;
  background-color: red;
  color: white;
}
.middle{
  text-align:center;
  padding-top: 100px;
}
